:host() {
  display: block;
}

.viewport,
.preview {
  display: none;
  height: 350px;
  overflow: hidden;
  width: 100%;
}

.viewport video,
.preview canvas {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.preview {
  display: none;
}

.callout-text {
  margin-top: 0.5em;
  text-align: center;
  width: 100%;
}

:host().taken .callout-text {
  display: none;
}

:host():not(.taken) .viewport,
:host().taken .preview {
  display: block;
}

:host():not(.taken) .viewport .scan-box {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 50%;
  opacity: 0.30;
  position: absolute;
  top: calc(50% - 50px);
  transform: translateX(-50%);
  width: 65%;
  z-index: 999;
}
