<div class="app-container">
  <h3 class="hug">My Account</h3>

  <div class="profile">
    <div [ngClass]="{'active': (activeField | async) === 'name'}" class="pure-form">
      <label for="name-field">Display Name</label>
      <div class="field-container">
        <span>{{ (profile | async)?.displayName }}</span>
        <button class="edit" (click)="startEdit('name')">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
      <div class="input-container">
        <input id="name-field" type="text" placeholder="Name" [(ngModel)]="profileFields.displayName" />
        <button class="done" (click)="updateDisplayName()">
          <i class="material-icons">done</i>
        </button>
      </div>
    </div>

    <div [ngClass]="{'active': (activeField | async) === 'email'}" class="pure-form">
      <label for="email-field">Email</label>
      <div class="field-container">
        <span>{{ (profile | async)?.email }}</span>
        <button class="edit" (click)="startEdit('email')">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
      <div class="input-container">
        <input id="email-field" type="email" placeholder="Email" [(ngModel)]="profileFields.email" />
        <button class="done" (click)="updateEmail()">
          <i class="material-icons">done</i>
        </button>
      </div>
      <span *ngIf="!(profile | async)?.emailVerified && (profile | async)?.email">Email not verified</span>
    </div>

    <div [ngClass]="{'active': (activeField | async) === 'photo'}" class="pure-form">
      <label for="picture-field">Photo (1mb limit)</label>
      <div class="field-container">
        <img class="profile-image" src="{{ (profile | async)?.photoURL }}" alt="Profile Image">
        <button class="edit" (click)="startEdit('photo', false)">
          <i class="material-icons">mode_edit</i>
        </button>
      </div>
      <div class="input-container">
        <input id="photo-field" type="file">
        <button class="done" (click)="updateProfileImage()" [disabled]="profileUploading | async">
          <i [ngClass]="{'material-icons-spin': profileUploading | async}" class="material-icons">{{ (profileUploading | async) ? 'autorenew' : 'file_upload' }}</i>
        </button>
      </div>
    </div>
  </div>

  <div class="logout">
    <button class="pure-button" (click)="logout()">Logout
      <i class="material-icons">exit_to_app</i>
    </button>
  </div>

</div>
