.profile {
  margin-top: 1em;
}

.field-container,
.input-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
}

input[type=text],
input[type=email] {
  width: calc(100% - 1em);
}

button.done,
button.edit {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0.5em;
}

button.edit {
  margin-left: auto;
}

.input-container {
  display: none;
}

.pure-form.active .input-container {
  display: flex;
}

.pure-form.active .field-container {
  display: none;
}

.logout {
  border-top: 1px solid #D4D4D4;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;
}

.logout button {
  background-color: rgb(202, 60, 60);
  color: #fff;
}
