:host() {
  display: block;
}

.nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin: 8px 8px;
  position: relative;
  top: 0;
}

.title {
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: 0;
}

.user {
  display: flex;
  align-items: center;
}
