.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-container .place {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.search-container .place .thumb {
  border-radius: 50%;
  height: 75px;
  margin-right: 8px;
  object-fit: cover;
  width: 75px;
}

.search-container .place .distance {
  font-size: 12px;
}

.search-container .place .choose-location {
  appearance: none;
  background-color: transparent;
  border: 0;
  margin-left: auto;
}
