<div>
  <button *ngIf="!(coords | async)" class="pure-button pure-button-primary" (click)="findMe()">Find Me</button>
  <button *ngIf="(coords | async)" class="pure-button pure-button-primary" (click)="findMe(true)">Increase Accuracy</button>
  <div *ngIf="(coords | async)">{{(coords | async)?.latitude}}, {{(coords | async)?.longitude}}</div>
  <agm-map *ngIf="(coords | async)" [latitude]="(coords | async)?.latitude" [longitude]="(coords | async)?.longitude" [mapDraggable]="false"
    [streetViewControl]="false" [zoomControl]="false" [panControl]="false" [gestureHandling]="false" [maxZoom]="18" [minZoom]="18"
    [zoom]="18">
    <agm-marker [latitude]="(coords | async)?.latitude" [longitude]="(coords | async)?.longitude"></agm-marker>
  </agm-map>
  <button *ngIf="(coords | async)" class="pure-button pure-button-primary" (click)="searchYelp()">That's me!</button>
</div>
