:host() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.find-me {
  font-size: 125%;
}

agm-map {
  height: 300px;
}

.map-container {
  width: 100%;
}

.map-actions {
  margin-top: 8px;
  text-align: center;
}

.map-actions .pure-button {
  font-size: 75%;
}
