<div class="app-container">
  <h2 class="hug">Sign Up!</h2>

  <div class="signup">
    <div [ngClass]="{'show': !signUpSubmitted}" class="pure-form">
      <legend>What's your number?</legend>
      <input type="tel" placeholder="+1 (555) 555-5555" [(ngModel)]="phoneNumber">
      <button class="pure-button pure-button-primary" (click)="signUpSubmit()">Sign Up</button>
      <p>
        Need to
        <a routerLink="/user/login">sign in?</a>
      </p>
      <p class="fineprint">While we don't charge anything to send you this SMS verification code, your carriers standard SMS rates do apply.</p>
    </div>

    <div id="recaptcha-container" [ngClass]="{'show': !captchaSubmitted}" class="pure-form recaptcha"></div>

    <div [ngClass]="{'show': !confirmationSubmitted && captchaSubmitted}" class="pure-form">
      <legend>What's the code we texted you?</legend>
      <input type="number" placeholder="123456" [(ngModel)]="confirmationCode">
      <button class="pure-button pure-button-primary" (click)="signUpConfirm()">Confirm</button>
    </div>
  </div>

</div>
