.signup {
  margin-top: 1em;
}

input {
  width: 100%;
}

.pure-form {
  display: none;
}

.pure-form.show {
  display: block;
}

.pure-form .pure-button {
  margin-top: 0;
}

.fineprint {
  font-size: 60%;
  line-height: 1rem;
}
