<div class="app-container">
  <h1>Sign Up!</h1>
  <div [ngClass]="{'show': !signUpSubmitted}" class="signup-container">
    <input type="tel" [(ngModel)]="phoneNumber">
    <button type="submit" (click)="signUpSubmit()">Sign Up</button>
  </div>
  <div [ngClass]="{'show': !confirmationSubmitted && captchaSubmitted}" class="confirm-container">
    <input type="number" [(ngModel)]="confirmationCode">
    <button type="submit" (click)="signUpConfirm()">Confirm</button>
  </div>
  <div [ngClass]="{'show': !captchaSubmitted}" class="recaptcha-container" id="recaptcha-container"></div>
</div>
