<div class="viewport-container" [ngClass]="{'show': !imageTaken}">
  <div class="viewport">
    <video id="viewport" autoplay></video>
  </div>
  <div class="status-container">
    <p>Scan you dollar to get started</p>
  </div>
  <div class="action-container">
    <button (click)="capture()"><i class="material-icons">camera</i></button>
  </div>
</div>
<div class="snapshot-container" [ngClass]="{'show': imageTaken}">
  <div class="snapshot">
    <canvas id="snapshot" width="500" height="500"></canvas>
  </div>
  <div *ngIf="(image | async)" class="status-container">
    <p>Status: {{ (image | async)?.status }}</p>
  </div>
  <div class="action-container">
    <button (click)="reset()"><i class="material-icons">undo</i></button>
    <button (click)="upload()"><i class="material-icons">file_upload</i></button>
  </div>
</div>
