:host() {
  display: block;
}

.viewport-container,
.snapshot-container {
  display: none;
  height: 350px;
  max-width: 100%;
  overflow: hidden;
}

.viewport-container.show,
.snapshot-container.show {
  display: block;
}

.viewport,
.snapshot {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.capture, .retake {
  appearance: none;
  background-color: transparent;
  border: 0;
  bottom: 20px;
  display: inline;
  height: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.capture .material-icons,
.retake .material-icons {
  font-size: 60px;
}
