:host() {
  display: block;
}

.viewport-container,
.snapshot-container {
  display: none;
}

.viewport-container.show,
.snapshot-container.show {
  display: block;
}

.viewport,
.snapshot {
  height: 350px;
  overflow: hidden;
  width: 100%;
}

.viewport video,
.snapshot canvas {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.status-container {
  font-size: 18px;
  margin: 8px;
  text-align: center;
}

@keyframes spinnerRotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.status-container .material-icons.spin {
  animation: 3s spinnerRotate infinite linear;
}

.status-container .material-icons {
  font-size: 48px;
}

.action-container {
  bottom: 20px;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
}
.action-container button {
  appearance: none;
  background-color: transparent;
  border: 0;
  height: 60px;
}

.action-container button + button {
  margin-left: 20px;
}

.action-container button .material-icons {
  font-size: 60px;
}
