<div class="viewport-container" [ngClass]="{'show': !imageTaken}">
  <div class="viewport">
    <video id="viewport" autoplay></video>
  </div>
  <div class="status-container">
    Scan your dollar to get started
  </div>
  <div class="action-container">
    <button (click)="capture()"><i class="material-icons">camera</i></button>
  </div>
</div>
<div class="snapshot-container" [ngClass]="{'show': imageTaken}">
  <div class="snapshot">
    <canvas id="snapshot" width="500" height="500"></canvas>
  </div>
  <div *ngIf="(image | async)" class="status-container">
    <i class="material-icons">autorenew</i>
    <div class="status">{{ (image | async)?.status }}</div>
  </div>
  <div *ngIf="!(image | async)" class="action-container">
    <button (click)="reset()"><i class="material-icons">undo</i></button>
    <button (click)="upload()"><i class="material-icons">file_upload</i></button>
  </div>
</div>
