:host() {
  display: block;
}

.action-container {
  bottom: 20px;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
}
.action-container button {
  display: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  height: 60px;
}

.action-container:not(.taken) .capture,
.action-container.taken .reset,
.action-container.taken .upload {
  display: inline-block;
}

.action-container button + button {
  margin-left: 20px;
}

.action-container button .material-icons {
  font-size: 60px;
}
